
/*
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.netflix-home-logo {
    width: 120px;
    height: auto;
    margin-right: 20px;
}



.nav-links {
    list-style:none;
    display: flex;
    gap: 20px;
    color: white;
}
.nav-links a {
    color: white;
    text-decoration: none;
}
.nav-left-container {
    display: flex;
    align-items: center;
}
*/